<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-sm">
       <a class="navbar-brand" href="/">Navbar</a>
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %} active {% endif %}" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if page.url == '/about' %} active {% endif %}" href="/about">About Me</a>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          </ul>
         </li>

         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Resources
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item {% if page.url == '/resources/markdown' %} active-dropdown {% endif %}" href="/resources/markdown">Markdown</a></li>
             <li><a class="dropdown-item {% if page.url == '/resources/webdev' %} active-dropdown {% endif %}" href="/resources/webdev">Web Development tips</a></li>
              <li><a class="dropdown-item {% if page.url == '/resources/books' %} active-dropdown {% endif %}" href="/resources/books">Recommended books</a></li>
           </ul>
        </li>



       </ul>
    </div>
  </nav>
